﻿<!DOCTYPE html>
<html>
<head>
    <style>
#header {
    text-align:center;
    padding:5px;
    width:700px;
}

#section {
    width:350px;
    float:left;
    padding:10px;
    margin-left: 50px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
</style>
    <title>My Movies</title>
    <meta charset="utf-8"/>
</head>
<body ng-app="movieApp" ng-controller="myMoviesController">
<div id="header">
    <button style="float: right;" ng-click="go('/createmovie')">Add Movie </button>
    <h1 align="center">My Movies</h1>
</div>
    <div ng-hide="movies.length > 0" style="width:600px; padding:10px; margin:10px; border:1px solid black;"><h2 align="center">Movie data is not available</h2></div>
<div ng-View id="section"></div>
</body>
</html>
<script src="Scripts/angular.js"></script>
<script src="Scripts/angular-route.js"></script>
<script src="js/app.js"></script>
<script src="js/createMovie.js"></script>
<script src="js/myMovies.js"></script>
<script src="js/characters.js"></script>
<script src="js/movieDetail.js"></script>
<script src="service/movieService.js"></script>
<script src="directives/movieDetailItem.js"></script>
<script src="directives/movieItem.js"></script>
<script src="directives/starRating.js"></script>
