﻿
<div>
    <h1>"{{movieTitle | uppercase}}" Characters</h1>
    <div ng-style="{'font-size':'22px','padding':'5px'}">
        <form name="createCharacters">
            <table>
                <tr>
                    <td>Character
                    </td>
                    <td>
                        <input type="text" ng-style="{'font-size':'22px','padding':'5px'}" ng-model="character" required=""/>

                    </td>
                </tr>
                <tr>
                    <td>Actor
                    </td>
                    <td>
                        <input type="text" ng-style="{'font-size':'22px','padding':'5px'}" ng-model="actor"/>

                    </td>
                </tr>
                <tr>
                    <td />
                    <td align="right">
                        <input type="submit" value="Add" ng-style="{'font-size':'22px','padding':'5px'}" 
                            ng-disabled="createCharacters.$invalid" ng-click="add(character, actor)"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div ng-hide="!characters.length">
        <table style="border: 1px solid grey; border-collapse: collapse; padding: 5px;">
            <thead>
            <tr>
                <th style="border: 1px solid grey; border-collapse: collapse; padding: 5px;"></th>
                <th style="border: 1px solid grey; border-collapse: collapse; padding: 5px;">Character</th>
                <th style="border: 1px solid grey; border-collapse: collapse; padding: 5px;">Actor</th>
            </tr>
            </thead>
            <tr ng-repeat="ch in characters | orderBy:'Character'">
                <td style="border: 1px solid grey; border-collapse: collapse; padding: 5px;">{{ $index + 1 }}</td>
                <td style="border: 1px solid grey; border-collapse: collapse; padding: 5px;">{{ ch.Character}}</td>
                <td style="border: 1px solid grey; border-collapse: collapse; padding: 5px;">{{ ch.Actor }}</td>
            </tr>
        </table>
    </div>
    <button style="float: right;" ng-click="go('/mymovies')">View Movie Detail</button>
</div>

