﻿
<style>
.content  {
    font-size: 18px;
    padding: 5px;
}

</style>

<div>
    <h1>Create Movie</h1>
    <div class="content" >
        <form name="createMovie">
            <table>
                <tr>
                    <td>Title</td>
                    <td>
                        <input type="text" class="content" ng-model="movie.title" required=""/>
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>
                        <textarea class="content" ng-model="movie.description" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Director</td>
                    <td>
                        <input type="text" class="content" ng-model="movie.director"/>
                    </td>
                </tr>
                <tr>
                    <td>Release Year</td>
                    <td>
                        <input type="number" class="content" ng-model="movie.year"/>
                    </td>
                </tr>
                <tr>
                    <td>Rating</td>
                    <td>
                        <input type="number" class="content" ng-model="movie.rating" ng-init="movie.rating=5" required="" ng-min="1" ng-max="10"/>
                    </td>
                </tr>
                <tr>
                    <td>Language</td>
                    <td>
                        <input type="text" class="content" class="content" ng-model="movie.language" required="" />
                    </td>
                </tr>
                <tr>
                    <td />
                    <td align="right">
                        <input type="submit" value="Save" class="content" ng-disabled="createMovie.$invalid"
                               ng-click="create(movie.title, 
                                                movie.description,
                                                movie.director,
                                                movie.year,
                                                movie.rating,
                                                movie.language)" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

