﻿    <style>
.rating{
  color: #dcdcdc;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  font-size :25px;
}

.rating .filled {
  color: #ffd700;
}
</style>
<div>
    <div>
            <movie-detail-item> </movie-detail-item>
     </div>
    <button style="float: right;" ng-click="go('/mymovies')">Movie List</button>
</div>

