﻿<div ng-controller="myMoviesController">
    <style>
        .rating {
            color: #dcdcdc;
            margin: 0;
            padding: 0;
        }

        ul.rating {
            display: inline-block;
        }

        .rating li {
            list-style-type: none;
            display: inline-block;
            padding: 1px;
            text-align: center;
            font-weight: bold;
            font-size: 25px;
        }

        .rating .filled {
            color: #ffd700;
        }
    </style>
        <div ng-repeat = "movie in movies | orderBy :'Title' ">
            <movie-item> </movie-item>
        </div>
</div>
